<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mark.name %>
</p>

<p>
  <b>Description:</b>
  <%= @mark.description %>
</p>


<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
