<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category %>
</p>

<p>
  <b>Mark:</b>
  <%= @product.mark %>
</p>
<p>
  <%= image_tag @product.image.url %>
  <%= image_tag @product.image.url(:medium) %>
  <%= image_tag @product.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
