<div class="form-registration">
<div class="login-title-new">
<h2>Cadastrar</h2>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :Nome, :class=>"email-label" %><br />
  <%= f.email_field :name, :class=>"general_txt" %></div>

  <div><%= f.label :Telefone, :class=>"email-label" %><br />
  <%= f.email_field :phone, :class=>"general_txt" %></div>

  <div><%= f.label :Email, :class=>"email-label" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "Senha:", :class=>"email-label" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label "Confirmação de senha", :class=>"email-label" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Cadastrar", :class=>'button'%></div>
<% end %>

<br/>
</div>


